# https://github.com/marketplace/actions/publish-docker
name: Publish to Docker
on: 
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: cpanelos/perl-compiler
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_GITHUB_TOKEN }}
        dockerfile: Dockerfile
